In [5]:
# 공분산 식을 이용해서 값을 구해보자!

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/student_scores_em.csv',
                 index_col='student number')

# display(df)
en_scores = df['english'][:10]
ma_scores = df['mathematics'][:10]

# print(en_scores)
scores_df = pd.DataFrame({'english': en_scores.values,
                          'mathematics': ma_scores.values},
                         index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

scores_df['en_deviation'] = scores_df['english'] - scores_df['english'].mean()
# 영어 성적에 대한 편차
scores_df['ma_deviation'] = scores_df['mathematics'] - scores_df['mathematics'].mean()
# 수학 성적에 대한 편차
scores_df['product_deviation'] = scores_df['en_deviation'] * scores_df['ma_deviation']
display(scores_df)

print('covariance(공분산) : ', scores_df['product_deviation'].mean())
# 62.8

   english  mathematics  en_deviation  ma_deviation  product_deviation
A       42           65         -13.0          -6.4               83.2
B       69           80          14.0           8.6              120.4
C       56           63           1.0          -8.4               -8.4
D       41           63         -14.0          -8.4              117.6
E       57           76           2.0           4.6                9.2
F       48           60          -7.0         -11.4               79.8
G       65           81          10.0           9.6               96.0
H       49           66          -6.0          -5.4               32.4
I       65           78          10.0           6.6               66.0
J       58           82           3.0          10.6               31.8

covariance(공분산) :  62.8

In [8]:
# Numpy의 함수를 이용해서 공분산을 구해보자!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/student_scores_em.csv',
                 index_col='student number')

# display(df)
en_scores = df['english'][:10]
ma_scores = df['mathematics'][:10]

# print(en_scores)
scores_df = pd.DataFrame({'english': en_scores.values,
                          'mathematics': ma_scores.values},
                         index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])
# display(scores_df)
# Numpy의 함수를 이용해서 공분산을 구해보자!
# 결과가 covariance matrix(공분산 행렬)로 리턴.
# 편차의 곱의 평균을 구하는데 평균을 구할 때 n으로 나누는 경우와 n-1로
# 나누는 경우가 있다!
cov_matrix = np.cov(en_scores, ma_scores, ddof=0)
print(cov_matrix)

# 0행 0열 : 영어와 영어의 공분산 => 영어의 분산
# 0행 1열 : 영어와 수학의 공분산
# 1행 0열 : 수학과 영어의 공분산
# 1행 1열 : 수학과 수학의 공분산 => 수학의 분산

# 참고로 Pandas에도 cov() 존재한다! 그런데 Pandas의 cov()는 무조건
# n-1로 나누는 불편분산형태로 사용된다.

[[86.   62.8 ]
 [62.8  68.44]]

In [17]:
# 실제 데이터를 이용해서 공분산을 구해보자!
# KOSPI 지수와 삼성전자 주가에 대한 공분산을 구해보자!
# 2018년도 기준으로 KOSPI 200 안에서 삼성전자 차지하는 비율을 33%
# 당연히 삼성전자와 KOSPI는 양의 상관관계를 가지고 있을 것 같다.

# Yahoo finance에서 주가 데이터를 받아서 사용해보자!
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr  # 설치해야 한다!
# pip install pandas_datareader
from datetime import datetime

start = datetime(2018,1,1)   # 특정날짜에 대한 날짜 객체를 생성
end = datetime(2018,12,31)

# df_kospi = pdr.DataReader('^KS11', 'yahoo', start, end)
# display(df_kospi)
# df_se = pdr.DataReader('005930.KS', 'yahoo', start, end)
# display(df_se)

# cov_matrix = np.cov(df_kospi['Close'], df_se['Close'], ddof=0)
# print(cov_matrix)  # 확인해보면 양의 상관관계에 있는 것을 알 수 있다.

# 다른 종목으로 공분산을 구해보자! (음의 상관관계)
# 남북경협주, 방산주를 예로 들어서 음의 상관관계에 대해서 알아보자!
# 남북경협주 => 부산산업 (011390.KS)
# 방산주 => LIG넥스원 (079550.KS)

df_pusan = pdr.DataReader('011390.KS', 'yahoo', start, end)
df_lig = pdr.DataReader('079550.KS', 'yahoo', start, end)

cov_matrix = np.cov(df_pusan['Close'], df_lig['Close'], ddof=0)
print(cov_matrix)

[[ 4.62857448e+09 -3.84951773e+08]
 [-3.84951773e+08  6.33317924e+07]]

In [22]:
# 실제 데이터를 이용해서 상관계수를 구해보자!
# KOSPI 지수와 삼성전자 주가에 대한 상관계수를 구해보자!

# Yahoo finance에서 주가 데이터를 받아서 사용해보자!
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr  # 설치해야 한다!
from datetime import datetime

start = datetime(2018,1,1)   # 특정날짜에 대한 날짜 객체를 생성
end = datetime(2018,12,31)

df_kospi = pdr.DataReader('^KS11', 'yahoo', start, end)
df_se = pdr.DataReader('005930.KS', 'yahoo', start, end)

corr_coef = np.corrcoef(df_kospi['Close'], df_se['Close'])
# 상관계수를 구하는 함수 => np.corrcoef()
print(corr_coef)

[[1.         0.91317306]
 [0.91317306 1.        ]]