# Multiple Linear Regression 구현 

사용하는 데이터 : Ozone데이터(제공된 CSV 파일 사용)

프로그램을 총 3개로 작성

1. Python 구현
2. Tensorflow 구현
3. sklearn 구현

=== Prediction한 결과도 비슷하게 나와야 한다. ===

데이터 전처리 당연히 수행해야 한다.
(결치값, 이상치, 정규화 진행해야 한다.)

바람, 온도, 태양광을 가지고 오존량을 예측

## 결과
np.array([[150.0,10.0,80.0]])  
오존량 : [[37.49592078]]

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

df = pd.read_csv('../data/ozone.csv')
training_data = df[['Ozone', 'Solar.R', 'Wind', 'Temp']]
print(training_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 4.9 KB
None

In [29]:
# 데이터에 결치값이 존재한다
# 여기서는 결치값을 삭제해서 진행해보자.
training_data.dropna(how='any', subset=['Ozone'],
                     inplace=True)   # how='any' : 결치가 존재하는 행을 삭제

C:\Users\shcho\anaconda3\envs\machine_TF15\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [30]:
print(training_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 152
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  111 non-null    float64
 2   Wind     116 non-null    float64
 3   Temp     116 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 4.5 KB
None

In [31]:
training_data['Solar.R'].fillna(value=training_data['Solar.R'].mean(), inplace=True)

C:\Users\shcho\anaconda3\envs\machine_TF15\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [32]:
print(training_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 0 to 152
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  116 non-null    float64
 2   Wind     116 non-null    float64
 3   Temp     116 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 4.5 KB
None

In [33]:
display(training_data)

     Ozone     Solar.R  Wind  Temp
0     41.0  190.000000   7.4    67
1     36.0  118.000000   8.0    72
2     12.0  149.000000  12.6    74
3     18.0  313.000000  11.5    62
5     28.0  184.801802  14.9    66
..     ...         ...   ...   ...
147   14.0   20.000000  16.6    63
148   30.0  193.000000   6.9    70
150   14.0  191.000000  14.3    75
151   18.0  131.000000   8.0    76
152   20.0  223.000000  11.5    68

[116 rows x 4 columns]